extends layout 

block content
    div.container.text-center
        h1= title
        h3 Add new workout to Program
        form(action="/exerciseProgram/newExercise", method="post")      
            div(class='form-input')
                label(for="name") 
                   b Name: 
                br
                input(type="text", name="name")
            div(class='form-input')
                label(for="description")
                    b Description:
                br
                textarea( name="description")
            div(class='form-input')
                label(for="set")
                    b Set:
                br
                input(type="number", name="set")
            div(class='form-input')
                label(for="repsOrTime")
                    b Repetitions or Time:
                br
                input(type="text",name="repsOrTime")
            br
            button(type='submit' class="btn btn-primary") Add exercise
        table(style='width:100%', border='1')
            tr
                th Name
                th Description
                th Set
                th Repetitions or Time
            each item in list 
                tr
                    td=item.name
                    td=item.description
                    td=item.set
                    td=item.repsOrTime
            else
                p No exercises yet, look above to add one... 
        br
        a(href="/exerciseProgram" class="btn btn-primary") Back
        
            
        